<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->

<% layout('./layout/page.ejs') %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<img style="width: 30px; height: 30px" src="/images/DH.jpg" alt="" />
