<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<!-- <% layout('./layout/page.ejs') %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
<!-- 
<% layout('./layout/page.ejs') %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p> -->

<% layout('./layout/page.ejs') %> <% if(user) {%>
<h1>Привет <%= user.username %></h1>
<% }else{ %>
<h1>Привет незалогиненный пользователь</h1>
<% } %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>
